section{
    background-color: #000000;
}

footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:auto;
    color: #ffffff;
}

footer > div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstDiv{
    width: 30%;
    display: flex;
}

.firstDiv > div p{
    font-size: 14px;
}

.socials{
    display: flex;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-around;
}

.socials a i{
    color: #ffff;
    font-size: 24px;
}

.quickLinks ul{
    margin-top: 20px;
}


