.partThreeDiv{
    margin-top: 100px;
}

.partThreeDiv > div{
    width: 95%;
    margin: auto;
    display: flex;
    color: var(--colorOne);
}

.homeDiv{
    width: 50%;
}

.homeDiv > *{
    color: var(--colorOne);
    margin-bottom: 10px;
}

.homeDiv h6{
    color: var(--colorTwo);
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.homeDiv h1{
    width: 80%;
    font-size: 48px;
    line-height: 1.06em;
    letter-spacing: 0px;
}

.principles{
    width: 80%;
    border: 1px solid var(--colorTwo);
}

.principles > *{
    padding: 20px;
    border: 1px solid var(--colorTwo);
}

.principles > div > h6{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.principles > div > p{
    font-size: 16px;
    padding: 10px;
}

